# **Best city to live**

# Machine Learning

## Libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import joblib
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pycaret.regression import load_model, predict_model

## Reading the preprocessed datasets:

In [2]:
#city_df = pd.read_csv("../clean_data/city_df.csv", encoding='latin-1')
city_df = pd.read_csv("../clean_data/city_df.csv", encoding='latin-1')

In [3]:
city_df.columns

Index(['City', 'Country', 'Continent', 'Housing', 'Cost of Living', 'Startups',
       'Venture Capital', 'Travel Connectivity', 'Commute', 'Business Freedom',
       'Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy',
       'Taxation', 'Internet Access', 'Leisure & Culture', 'Tolerance',
       'Outdoors', 'AQI Value', 'AQI Category', 'lat', 'lng'],
      dtype='object')

In [4]:
# Creo una seleccion de variables que quiero utilizar:

df = city_df[['City', 'Cost of Living','Travel Connectivity','Safety', 'Healthcare', 'Education', 'Environmental Quality', 'Economy',
       'Leisure & Culture']]

In [5]:
def fritas(df):
    df_encoded = df.copy()
    object_columns = df_encoded.select_dtypes(include=["object"]).columns
    encoder_info = []

    for column in object_columns:
        df_encoded[column] = pd.Categorical(df_encoded[column])
        df_encoded[column] = df_encoded[column].cat.codes
        df_encoded[column] = df_encoded[column].replace(-1, np.nan)
        
        encoder_info.append({
            "column": column,
            "labels": list(df[column].astype('category').cat.categories),
            "codes": list(range(len(df[column].astype('category').cat.categories))),
        })

    return df_encoded, encoder_info

df_encoded, encoder_info = fritas(df)

In [7]:
# Guardar encoder_info en un archivo JSON
with open('encoder_info.json', 'w') as file:
    json.dump(encoder_info, file)

In [8]:
from pycaret.regression import *

df_encoded, encoder_info = fritas(df)

# Configuraci√≥n del entorno de PyCaret
regression_setup = setup(data=df_encoded, target='City')

# Comparar modelos y elegir el mejor
best_model = compare_models()

# Entrenar el mejor modelo
final_model = finalize_model(best_model)

In [9]:
# El mejor modelo es el omp asi que voy a usar ese:
omp = create_model('omp')

In [10]:
tuned_omp = tune_model(omp)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [11]:
evaluate_model(tuned_omp)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin‚Ä¶

In [12]:
final_omp = finalize_model(tuned_omp)

In [13]:
# Guardo el modelo para usarlo en streamlit

save_model(final_omp, 'city_predictor')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Cost of Living',
                                              'Travel Connectivity', 'Safety',
                                              'Healthcare', 'Education',
                                              'Environmental Quality', 'Economy',
                                              'Leisure & Culture'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  OrthogonalMatchingPursuit(n_nonzero_coefs=2))]),
 'city_predictor.pkl')